In [3]:
import pandas as pd
india = pd.read_csv('../raw_data/Crop yield data/COUNTY_level_annual/india_dataworld.csv', )
#india = india.drop(columns=['Unnamed: 0', 'AREA', 'DISTRICT', 'YIELD.RM.OUT', 'SEASON'])
india.head(19)
#india.groupby('CROP').sum().sort_values(by=['PRODUCTION', 'YEAR'], ascending=False).head(5)

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.00
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.00
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.00
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.00
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.00
5,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Coconut,18168.0,65100000.00
6,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Dry ginger,36.0,100.00
7,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Sugarcane,1.0,2.00
8,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Sweet potato,5.0,15.00
9,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Tapioca,40.0,169.00
10,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Arecanut,1254.0,2061.00
11,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Other Kharif pulses,2.0,1.00
12,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Rice,83.0,300.00
13,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Cashewnut,719.0,192.00
14,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Coconut,18190.0,64430000.00
15,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Dry ginger,46.0,100.00
16,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Sugarcane,1.0,1.00
17,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Sweet potato,11.0,33.00
18,Andaman and Nicobar Islands,NICOBARS,2002,Kharif,Rice,189.2,510.84

In [2]:
india = india[ india['YIELD'] >0]
india.head(50)

KeyError: 'YIELD'

In [11]:
india_COCONUT = india[ india['CROP'] == 'COCONUT']  
india_SUGARCANE = india  [ india['CROP'] == 'SUGARCANE']  
india_RICE = india  [ india['CROP'] == 'RICE']  
india_WHEAT = india  [ india['CROP'] == 'WHEAT']  
india_WHEAT.shape

(7171, 5)

In [12]:
india_COCONUT = india_COCONUT.groupby(['STATE', 'YEAR']).mean()
india_SUGARCANE = india_SUGARCANE.groupby(['STATE', 'YEAR']).mean()
india_RICE = india_RICE.groupby(['STATE', 'YEAR']).mean()
india_WHEAT = india_WHEAT.groupby(['STATE', 'YEAR']).mean()

In [13]:
#india_COCONUT = india_COCONUT.to_csv('../raw_data/Crop yield data/COUNTY_level_annual/india_COCONUT.csv')
#india_SUGARCANE = india_SUGARCANE.to_csv('../raw_data/Crop yield data/COUNTY_level_annual/india_SUGARCANE.csv')
#india_RICE = india_RICE.to_csv('../raw_data/Crop yield data/COUNTY_level_annual/india_RICE.csv')
#india_WHEAT = india_WHEAT.to_csv('../raw_data/Crop yield data/COUNTY_level_annual/india_WHEAT.csv')